<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>阿拉斯加</string>
	<string>喀麦隆</string>
	<string>中国</string>
	<string>美特斯邦威</string>
	<string>纽拜伦</string>
	<string>特步</string>
	<string>天天向上</string>
	<string>早起</string>
	<string>你好吗！中国</string>
	<string>好贷网</string>
	<string>做一个动态标签布局控件</string>
	<string>Boy_iOS</string>
	<string>世界孤儿</string>
	<string>想去美国</string>
	<string>爱情悲剧</string>
	<string>深圳</string>
	<string>河南</string>
	<string>啊</string>
	<string>iOS 开发</string>
	<string>PHP</string>
	<string>一个人生活</string>
</array>
</plist>
